<div class="body-container">
    <p>is animals, yay!!</p>

    <div> 
        <button class="category-button">
            <a routerLink="/dog" routerLinkActive="active">
                Dog!
            </a>
        </button>

        <button class="category-button">
            <a routerLink="/cat" routerLinkActive="active">
                Cat!
            </a>
        </button>

        <button class="category-button">
            <a routerLink="/horse" routerLinkActive="active">
                Horse!
            </a>
        </button>
    </div>
</div>