<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>
        <a routerLink="/" routerLinkActive="active">
          <img class="logo"
            src="https://as1.ftcdn.net/jpg/00/11/59/06/500_F_11590663_TmpYxmbnWwKC37eMCLsYTEiBd4nmUrJo.jpg"
            alt="Animals" />
        </a>
      </span>
      <button mat-button class="nav-button" style="background-color: white">
        <a routerLink="/dog" routerLinkActive="active">
          Dogs
        </a>
      </button>
      <button mat-button class="nav-button" style="background-color: white">
        <a routerLink="/cat" routerLinkActive="active">
          Cats
        </a>
      </button>
      <button mat-button class="nav-button" style="background-color: white">
        <a routerLink="/horse" routerLinkActive="active">
          Horse
        </a>
      </button>

    </mat-toolbar-row>
  </mat-toolbar>
</div>