.page-body {
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: white;
    box-shadow: 10px 10px 10px darkslategray;
    border: 1px solid lightgray;
    animation: box-shadow-glow 2s infinite;
    padding: 50px;
}