<div class="body-container">
  <h2>
      neeeeeeigh
  </h2>
  <div>
    This page serves as an example for implementing animations from a file.
    <ol>
      <li>
        Start by creating a ts file within the <code>_animations</code> folder. You may also
        edit the <code>to-edit</code> file instead, which contains the proper formatting.
        <ul>
          <li>
            Animations can also be added directly to the component's css file.
            However, this is less optimal for code reusability.
          </li>
        </ul>
      </li>
      <li>
        Once you've created your basic animation, then go to the <code>dog-page.component.ts</code>
        file to add the animation to the page load.
        <ul>
          <li>
            You can use this page's component.ts file for an example.
          </li>
        </ul>
      </li>
      <li>
        Save the file and within the app, refresh the page. This should trigger your animation.
      </li>
      <li>
        Now that you've seen your animation in play, you're able to go add whatever else you'd like!
        Check out <a href="https://www.w3schools.com/css/css3_animations.asp" target="_blank">
        W3's CSS page</a> for additional options.
        <ol>
          <li>
            You can also research <a href="https://angular.io/guide/animations" target="_blank">
            @angular/animations</a> for additional ideas.
          </li>
        </ol>
      </li>
    </ol>
  </div>
</div>
