/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@keyframes box-shadow-glow {
  50% {
    box-shadow: 10px 20px 30px black;
  }
}

@keyframes cat-breathing {
  0% {
    transform: scaleY(1);
  }

  10% {
    transform: scaleY(1.0005);
  }
  
  50% {
    transform: scaleY(1.05);
  }
}