<div class="body-container">
  <h2>
    Here's where you come into play!
  </h2>
  <div>
    Create a new ts file within <code>_animations</code> to add specific animations to this page.
    You're also welcome to edit this page's content! If you get stuck, refer to <code>horse-page</code>
    for the basic structure.
  </div>
  <br/>
  <div style="font-size: 20px;">
    Note: You're also able to add to the <code>dog-page.component.css</code> file directly in lieu
    of an animations file.
  </div>
</div>
